.gallery-box {
    width: 95%;
    max-width: 1024px;
    margin: 35px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-row-gap: 30px;
}

.gallery-card{
    width: 23%;
    max-height: 190px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.gallery-card > p {
    color: #282c34;
    text-align: center;
    margin: 5px auto;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gallery-card > img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

@media screen and (max-width: 850px) {
    .gallery-card{
        max-width: 300px;
        width: 60%;
        max-height: 200px;
    }

    .gallery-box {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 660px) {
    .gallery-card{
        max-width: 400px;
        width: 90%;
        max-height: 300px;
    }
}
