.background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 10vh;
  box-sizing: border-box;
  transition: 1000ms;
}

.background-dark {
  background-color: #001508;
}

.background-light {
  background-color: #efefef;
}

.toggle-button {
  margin: 20px 0;
  border: 2px solid #ff5722;
  padding: 12px 24px;
  background-color: transparent;
  color: #ff5722;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-button:hover {
  background-color: #ff5722;
  color: #fff;
}



